#Example databricks_resource_id = "/subscriptions/3f2e4d32-8e8d-46d6-82bc-fffffffff/resourceGroups/name-ff-rg/providers/Microsoft.Databricks/workspaces/name-ff-ffff-ws"
databricks_resource_id = "/subscriptions/fffffff-ffff-ffff-ffff-fffffffff/resourceGroups/resourcegroupname/providers/Microsoft.Databricks/workspaces/wkspname"

prefix = "dev"

storage_resource_id = "/subscriptions/fffffff-ffff-ffff-ffff-fffffffff/resourceGroups/resourcegroupname/providers/Microsoft.Storage/storageAccounts/storageaccname"

storage_group_id = "blob"